/* perustyyli */
body {
    font-family: 'Roboto', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #373434;
}

/* Intro-screenin tyyli */
#intro-screen {
    background-image: url('images/background.png');
    background-repeat: repeat-y;
    background-size: 900px auto;
    background-position: center;
    color: white;
    padding: 20px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2, h1, p {
    text-align: center;
    width: 100%;
    position: relative;
    margin: 20px 0;
}

h3 {
    margin: 10px 10px;
}
/*24.2 (2) */
button {
    background-color: black;
    color: white;
    margin-left: 20px; /* Sama sisennys kuin monsterin kuvilla */
    align-self: flex-start; /* Asetetaan nappula vasempaan reunaan */
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
/*24.2 (6) */
#game-screen {
    display: none;
}
/*24.2 (8) */
/*3.3 (19) tarkista että fit content width ja height */
#game-board {
    display: grid;
    gap: 0px;
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
    border: 2px solid #333;
    padding: 0px;
    background-color: rgba(221, 221, 221, 0.8);
    } 
  
/*3.3 (15) */
/* Yleinen määrittely kaikille pelikentän ruuduille */
.cell { 
    width: 50px;  /* Asetetaan ruudun leveys 50 pikseliin */
    height: 50px; /* Asetetaan ruudun korkeus 50 pikseliin */
    display: flex; /* Käytetään flexboxia, jotta sisältö voidaan keskittää */
    align-items: center; /* Keskitetään mahdollinen sisältö pystysuunnassa */
    justify-content: center; /* Keskitetään mahdollinen sisältö vaakasuunnassa */
}

/* Määrittely pelikentän seinäruuduille */
.wall { 
    background-image: url('images/wall.png'); /* Asetetaan taustakuvaksi "wall.png" */
    width: 50px; /* Seinän leveys 50 pikseliä (sama kuin .cell) */
    height: 50px; /* Seinän korkeus 50 pikseliä (sama kuin .cell) */
    background-size: cover; /* Skaalataan taustakuva niin, että se peittää koko ruudun */
}